<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome to TradeTrust</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <rect width="400" height="400" fill="none" />
      <path
        d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
        fill="#fff" />
    </svg>
  </a>
  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
    </svg>
  </a>
</div>

<div class="content" role="main">

  <!-- <mat-tab-group mat-align-tabs="center" backgroundColor="accent"> 
      <mat-tab label="Home">Overview  </mat-tab> 
      <mat-tab label="Identities and Registry">Create Identity</mat-tab>
      <mat-tab label="Issue LC">Create Letter of Credit</mat-tab> 
      <mat-tab label="Create Presentation LC">Create Presentation</mat-tab>  
      <mat-tab label="Verify LC">Verify LC</mat-tab> 
      <mat-tab label="Delegate">Delegate Content</mat-tab> 
    </mat-tab-group>  -->

  <mat-tab-group mat-align-tabs="center" backgroundColor="accent">
    <mat-tab label="Overview">Overview </mat-tab>
    <mat-tab label="Identities and Registry">
      Digital Identities (DID)
      <br><br>
      <table border = '1' width="100%">
        <tr>
          <td width="100%">
            
              This page shows the default Digital Identities (DIDs).
              You may want to create new identities, however it can be used only in current session as private keys are not stored in the app or currently no provision to provide it later.
              <p>For the purpose of this demo, this app uses -
              <b>DID Registry contract 0x41D788c9c5D335362D713152F407692c5EEAfAae on https://rpc-mumbai.maticvigil.com/</b>
              </p>  
          </td>
        </tr>
      </table>
      <br>
      <form>
        <table>
          <tr>
            <td>DID of bank issuing Letter of Credit <button mat-raised-button type="submit" class="btn btn-danger pull-left"
              (click)="createDID('issuer')">Create new DID</button></td>
          </tr>
          
          <tr>
            <td>              
                <mat-form-field style="width:72vw;">                  
                  <textarea matInput cdkTextareaAutosize [(ngModel)]="lcIssuerDIDStr" name="lcIssuerDidStr" type="text" matInput
                    placeholder="Issuer DID" #autosize="cdkTextareaAutosize"></textarea>
                </mat-form-field>              
            </td>
          </tr>        

        </table>
        <br>
        <table>
          <tr>
            <td>DID of applicant for Letter of Credit <button mat-raised-button type="submit" class="btn btn-danger pull-left"
              (click)="createDID('applicant')">Create new DID</button></td>
          </tr>
         
          <tr>
            <td>              
                <mat-form-field style="width:72vw;">                  
                  <textarea matInput cdkTextareaAutosize [(ngModel)]="lcApplicantDIDStr" name="lcApplicantDIDStr" type="text" matInput
                    placeholder="Applicant DID" #autosize="cdkTextareaAutosize"></textarea>
                </mat-form-field>              
            </td>
          </tr>        

        </table>

      </form>
    </mat-tab>
    <mat-tab label="Issue LC">

      <div>Issue LC</div>

      <form>

        <div>

          <table>


            <tr>
              <td>
                <mat-form-field style="width:37vw">
                  Issuer DID
                  <input matInput [(ngModel)]="dids.lcIssuerDid.did" name="issuerDID" type="text" matInput
                    placeholder="Issuer DID" title="{{lcData.issuingBank}}">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="width:37vw">
                  Presenter DID
                  <input matInput [(ngModel)]="dids.applicantDid.did" name="presenterDID" type="text" matInput
                    placeholder="Presenter DID" title="{{lcData.beneficiary}}">
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field style="width:37vw">
                  Issuing Bank
                  <input matInput [(ngModel)]="lcData.issuingBank" name="issuingBank" type="text" matInput
                    placeholder="Issuing Bank" title="{{lcData.issuingBank}}">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="width:37vw">
                  Beneficiary Company
                  <input matInput [(ngModel)]="lcData.beneficiary" name="beneficiary" type="text" matInput
                    placeholder="Beneficiary" title="{{lcData.beneficiary}}">
                </mat-form-field>
              </td>
            </tr>


            <tr>
              <td>
                <mat-form-field style="width:37vw">
                  LC #
                  <input matInput [(ngModel)]="lcData.lcNumber" name="icNumber" type="text" matInput
                    placeholder="LC Number" title="{{lcData.lcNumber}}">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="width:37vw">
                  LC Type
                  <input matInput [(ngModel)]="lcData.lcType" name="lcType" type="text" matInput placeholder="LC Type"
                    title="{{lcData.lcType}}">
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field style="width:37vw">
                  LC Amount
                  <input matInput [(ngModel)]="lcData.lcAmount" name="lcAmount" type="text" matInput
                    placeholder="Amount" title="{{lcData.lcAmount}}">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="width:37vw">
                  LC Type
                  <input matInput [(ngModel)]="lcData.currency" name="currency" type="text" matInput
                    placeholder="Currency" title="{{lcData.currency}}">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field style="width:37vw" appearance="fill">
                  LC Effective Date
                  <input [(ngModel)]="lcData.issuanceDate" name="issuanceDate" matInput
                    [matDatepicker]="issuanceDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="issuanceDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #issuanceDatePicker></mat-datepicker>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field style="width:37vw" appearance="fill">
                  LC Expiry Date
                  <input [(ngModel)]="lcData.expirationDate" name="expirationDate" matInput
                    [matDatepicker]="expiryDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #expiryDatePicker></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <mat-form-field style="width:72vw">
                  Terms
                  <textarea [(ngModel)]="lcData.terms[0]" name="terms" type="text" matInput
                    placeholder="terms"></textarea>
                </mat-form-field>
              </td>

            </tr>

            <tr>
              <td colspan="2">
                <button mat-raised-button type="submit" class="btn btn-danger pull-left"
                  (click)="createCredential()">Generate LC Verifiable Credential</button>
              </td>

            </tr>
            <tr>
              <td>
                <mat-form-field style="width:37vw; height: 5000px; ">
                  Verifiable Credential
                  <textarea matInput cdkTextareaAutosize [(ngModel)]="vc" name="vc" type="text" matInput
                    placeholder="vc" #autosize="cdkTextareaAutosize"></textarea>
                </mat-form-field>
              </td>


              <td>
                <mat-form-field style="width:37vw; height: 5000px;">
                  JWT Verifiable Credential
                  <textarea matInput cdkTextareaAutosize [(ngModel)]="jwtvc" name="jwtvc" type="text" matInput
                    placeholder="jwt vc" #autosize="cdkTextareaAutosize"></textarea>
                </mat-form-field>
              </td>

            </tr>

          </table>





        </div>


      </form>


    </mat-tab>
    <mat-tab label="Present LC">Present LC
      <form>
        <table>
          <tr>
            <td>
              <mat-form-field style="width:37vw">
                Presenter DID
                <input matInput [(ngModel)]="dids.applicantDid.did" name="presenterDID" type="text" matInput
                  placeholder="Presenter DID" title="{{lcData.beneficiary}}">
              </mat-form-field>

            </td>
            <td></td>
          </tr>

          <tr>
            <td>
              <mat-form-field style="width:37vw;">
                JWT Verifiable Credential
                <textarea matInput cdkTextareaAutosize [(ngModel)]="jwtvc" name="jwtvc" type="text" matInput
                  placeholder="jwt vc" #autosize="cdkTextareaAutosize"></textarea>
              </mat-form-field>

            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="2">
              <button mat-raised-button type="submit" class="btn btn-danger pull-left"
                (click)="createPresentation()">Generate LC Verifiable Presentation</button>
            </td>

          </tr>
          <tr>
            <td>
              <mat-form-field style="width:37vw; height: 5000px; ">
                Verifiable Presentation
                <textarea matInput cdkTextareaAutosize [(ngModel)]="vp" name="vp" type="text" matInput placeholder="vp"
                  #autosize="cdkTextareaAutosize"></textarea>
              </mat-form-field>
            </td>


            <td>
              <mat-form-field style="width:37vw; height: 5000px;">
                JWT Verifiable Presentation
                <textarea matInput cdkTextareaAutosize [(ngModel)]="jwtvp" name="jwtvp" type="text" matInput
                  placeholder="jwt vp" #autosize="cdkTextareaAutosize"></textarea>
              </mat-form-field>
            </td>

          </tr>

        </table>
      </form>




    </mat-tab>
    <mat-tab label="Verify LC">Verify LC

      <form>
        <table>
          <tr>
            <td>
              <mat-form-field style="width:37vw;">
                JWT Verifiable Presentation
                <textarea matInput cdkTextareaAutosize [(ngModel)]="jwtvp" name="jwtvp" type="text" matInput
                  placeholder="jwt vp" #autosize="cdkTextareaAutosize"></textarea>
              </mat-form-field>
            </td>
            <td>

              <button mat-raised-button type="submit" class="btn btn-danger pull-left"
                (click)="verifyPresentation()">Verify Presentation</button>
            </td>

          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field style="width:70vw;">
                Verification Result = {{verifiedLC.verified}}
                <textarea matInput cdkTextareaAutosize [(ngModel)]="verifiedLC" name="verifiedLC" type="text" matInput
                  placeholder="verifiedLC" #autosize="cdkTextareaAutosize"></textarea>
              </mat-form-field>
            </td>
          </tr>


        </table>

      </form>



    </mat-tab>
    <mat-tab label="Delegate">Delegate Content</mat-tab>
  </mat-tab-group>


</div>