.mat-tab-label {
    min-width: 25px !important;
    padding: 10px;
    background-color: transparent;
    color: white;
    opacity: 1 !important;
    font-weight: 700;
  }
  .mat-tab-label:active{
    min-width: 25px !important;
    padding: 5px;
       background-color:transparent;
        color:yellow;
        font-weight: 700;
}

.mat-tab-label:selected{
    min-width: 25px !important;
    padding: 5px;
       background-color:transparent;
        color:white;
        font-weight: 700;
}